* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    color: white;

    overflow: hidden;

    background:
    linear-gradient(
        rgba(5,7,15,0.94),
        rgba(5,7,15,0.94)
    ),
    repeating-conic-gradient(
        #2a2a2a 0% 25%,
        #111 0% 50%
    );

    background-size:
    auto,
    100px 100px;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    animation: appear 1s ease;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    text-shadow: 0 0 25px rgba(255,255,255,0.3);
}

h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

p {
    max-width: 600px;
    font-size: 1.2rem;
    color: #d1d5db;
    line-height: 1.8;
    margin: 10px;
}

button {
    margin-top: 35px;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    background: white;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.08);
}

.chess {
    font-size: 45px;
    opacity: 0.8;
    margin-bottom: 35px;
    animation: float 3s infinite ease-in-out;
}

.certificate {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 40px;
    max-width: 500px;
    box-shadow: 0 20px 60px rgba(0,0,0,.5);
}

.certificate h2 {
    color: #facc15;
}


@keyframes appear {

from {
    opacity: 0;
    transform: translateY(30px);
}

to {
    opacity: 1;
    transform: translateY(0);
}

}


@keyframes float {

0%,100% {
    transform: translateY(0);
}

50% {
    transform: translateY(-15px);
}

}

body {
    background:
    repeating-conic-gradient(
        #222 0% 25%,
        #111 0% 50%
    );

    background-size: 80px 80px;
}
.certificate {
    margin-top: 30px;
    padding: 40px;

    max-width: 500px;

    background: rgba(255,255,255,0.1);

    border: 2px solid rgba(255,215,0,0.6);

    border-radius: 25px;

    backdrop-filter: blur(15px);

    text-align: center;

    box-shadow: 0 0 40px rgba(255,215,0,0.2);
}


.certificate h2 {
    color: #ffd700;

    margin-bottom: 20px;
}


.certificate p {
    color: #eee;

    line-height: 1.8;
}

