* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    background: linear-gradient(135deg, #05070f, #111827);

    color: white;

    overflow: hidden;
}



/* Все экраны */

.screen {

    height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 30px;

}



.hidden {

    display: none;

}



/* Текст */

h1 {

    font-size: 45px;

    margin-bottom: 25px;

}



p {

    font-size: 20px;

    line-height: 1.7;

    color: #d1d5db;

    margin-bottom: 40px;

}



h2 {

    margin-top: 40px;

    font-size: 32px;

}



/* Кнопка */

button {

    padding: 16px 40px;

    border: none;

    border-radius: 50px;

    background: white;

    color: black;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;

}



button:hover {

    transform: scale(1.05);

}
